footer {
    background: $white;
    @include flexCenter;
    margin: 35px auto;
    width: 85%;

    .footer{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 35px 25px;

        label, 
        h5{
            text-transform: uppercase;
            font-family: "Inter", Arial, Helvetica, sans-serif;
            font-size: 0.6rem;
            letter-spacing: 2px;
            color: rgb(91, 91, 91);
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            form{
                width: 100%;
            }
            .form-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                           
                input,
                textarea {
                    border: 1px solid $gray;
                    margin: 15px 0;
                    width: 100%;
                    border-radius: 5px;
                    padding: 7px;
                    font-family: "Merriweather", Arial, Helvetica, sans-serif;
                }            
    
                textarea {
                    resize: none
                }
    
                .square_btn{
                    align-self: flex-start;
                }
            }
        
            .box_contact{
                display: flex;
            }
        }


        .box_contact{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                font-size: 0.8rem;
                color: rgb(91, 91, 91);
                margin-left: 25px;
            }
        }
    }

    
}