header {
    color: $white;
    min-height: 100vh;
    position: relative;

    .header_content {
        @include flexCenter;
        margin: 0 auto;
        min-height: 100vh;
        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s forwards;

        @keyframes headerAnim {
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }
        h1{
            @include title();
            letter-spacing: 6px;
            font-size: 5rem;
        }
        p{
            margin: 60px 0;
            font-style: italic;
            font-size: 1.2rem;
        }

    }

    nav{
        background: $gray3;
        color: $white;
        @include flexCenter;
        justify-content: space-between;
        height: 65px;
        z-index: 100;
        position: absolute;
        width: 85%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 65px;

            li{
                @include title;
                display: flex;
                align-items: center;
                padding: 0 15px;
                height: 100%;
                cursor: pointer;
                
            }
        }
        .nav_left{
            font-size: 0.7rem;
            &:hover li:not(:hover){
                background: none;
                color: $white;
            }

            li{
                transition: 0.2s ease;
                &:first-child{
                    background: $white;
                    color: $black;
                }
                &:hover {
                    background: $white;
                    color: $black; 
                }
            }
        }

        .nav_right{
            a{
                color: $white;
                transition: 0.4s ease;
                &:hover{
                    transform: scale(1.7);
                }
            }

        }
    }
}