@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a, a:visited {
  color: rgb(255, 254, 254);
  text-decoration: none;
}

body {
  background: url(../img/bg.jpg) fixed center/cover;
  margin: 0 auto;
  max-width: 1300px;
  text-align: center;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(18, 18, 18);
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

button {
  background: none;
  color: rgb(18, 18, 18);
  border: 2px solid rgb(18, 18, 18);
  height: 45px;
  width: 170px;
  cursor: pointer;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
button:hover {
  background: rgb(18, 18, 18);
  color: rgb(255, 254, 254);
}

.circle_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
}
.circle_btn a {
  border: 1px solid rgb(18, 18, 18);
  border-radius: 50px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-color: rgb(255, 254, 254);
  font-size: 1.3rem;
  width: 55px;
  height: 55px;
}
.circle_btn a:hover {
  color: rgb(18, 18, 18);
  background: rgb(255, 254, 254);
}

.box_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
}
.box_contact a {
  border: 1px solid rgb(18, 18, 18);
  border-radius: 50px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-color: rgb(232, 232, 232);
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  color: rgb(18, 18, 18);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.box_contact a:hover {
  color: rgb(255, 254, 254);
  background: rgb(18, 18, 18);
}
.box_contact a i {
  font-size: 0.8rem;
}

header {
  color: rgb(255, 254, 254);
  min-height: 100vh;
  position: relative;
}
header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .header_content h1 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  letter-spacing: 6px;
  font-size: 5rem;
}
header .header_content p {
  margin: 60px 0;
  font-style: italic;
  font-size: 1.2rem;
}
header nav {
  background: rgba(255, 255, 255, 0.27);
  color: rgb(255, 254, 254);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  z-index: 100;
  position: absolute;
  width: 85%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}
header nav ul li {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 100%;
  cursor: pointer;
}
header nav .nav_left {
  font-size: 0.7rem;
}
header nav .nav_left:hover li:not(:hover) {
  background: none;
  color: rgb(255, 254, 254);
}
header nav .nav_left li {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
header nav .nav_left li:first-child {
  background: rgb(255, 254, 254);
  color: rgb(18, 18, 18);
}
header nav .nav_left li:hover {
  background: rgb(255, 254, 254);
  color: rgb(18, 18, 18);
}
header nav .nav_right a {
  color: rgb(255, 254, 254);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
header nav .nav_right a:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

#main {
  width: 85%;
  margin: 0 auto 30px;
  background: rgb(255, 254, 254);
}
#main img {
  width: 100%;
}
#main .first_section {
  width: 80%;
  margin: 0 auto;
}
#main .first_section span {
  padding: 70px 0;
  position: relative;
  display: block;
}
#main .first_section span:before, #main .first_section span:after {
  content: "";
  position: absolute;
  width: 37%;
  height: 1px;
  background: rgb(187, 187, 187);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 700px) {
  #main .first_section span:before, #main .first_section span:after {
    width: 30%;
  }
}
#main .first_section span:before {
  left: 0;
}
#main .first_section span:after {
  right: 0;
}
#main .first_section .info_container {
  margin: 30px auto;
}
#main .first_section .info_container h2 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
}
#main .first_section .info_container p {
  width: 60%;
  line-height: 30px;
  font-style: italic;
  font-size: 0.8rem;
  margin: 20px auto;
}
#main .first_section button {
  margin: 50px 0 90px;
}
#main .second_section {
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid rgb(232, 232, 232);
}
#main .second_section .box_container {
  padding: 60px;
}
#main .second_section .box_container span {
  font-size: 0.7rem;
}
#main .second_section .box_container h2 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin: 20px 0;
  line-height: 28px;
}
#main .second_section .box_container img {
  width: 100%;
}
#main .second_section .box_container p {
  font-size: 0.6rem;
  text-align: justify;
  line-height: 25px;
  margin: 30px;
}
#main .second_section .box_container:first-child {
  border-right: 1px solid rgb(232, 232, 232);
}

footer {
  background: rgb(255, 254, 254);
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto 70px;
  width: 85%;
}
footer label,
footer h5 {
  text-transform: uppercase;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  letter-spacing: 2px;
  color: rgb(91, 91, 91);
}
footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 35px 25px;
  border-right: 1px solid rgb(232, 232, 232);
}
footer .form form {
  width: 100%;
}
footer .form .form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .form .form-info input,
footer .form .form-info textarea {
  border: 1px solid rgb(232, 232, 232);
  margin: 15px 0;
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
}
footer .form .form-info textarea {
  resize: none;
}
footer .form .form-info .square_btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
footer .contact {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
footer .contact div {
  border-bottom: 1px solid rgb(232, 232, 232);
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
footer .contact p {
  font-size: 0.8rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
footer .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}/*# sourceMappingURL=index.css.map */